* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --azul: rgb(29 18 195);
  --roxo: rgb(109, 18, 195);
  --vermelho: rgb(196, 48, 43);
}

header {
  background-color: var(--azul);
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  text-align: center;

  & .logo {
    width: 100px;
    border-radius: 100%;
    margin: 20px;
  }

  & h1 {
    width: 80%;
  }

  & h1,
  h2 {
    margin-top: 20px;
    color: white;
    font-size: 32px;
  }
}

.where-to-watch {
  text-align: center;
  & a {
    color: red;
    text-decoration: none;
  }
}

.teams-container {
  background-color: rgb(234, 197, 34);
  & h2 {
    padding: 30px 20px;
    letter-spacing: 2px;
  }
}

.container {
  display: flex;
  justify-content: space-between;
}

.teams,
.squads {
  border: 1px solid red;
  width: 48%;
}

.teams {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  & div {
    margin-bottom: 20px;
    text-align: center;
    margin: 5px;
    & img {
      width: 150px;
      height: 100px;
      object-fit: cover;
      border: 1px solid black;
    }
  }
}
