* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

:root {
  --azul: rgb(29 18 195);
  --roxo: rgb(100, 65, 165);
  --vermelho: rgb(196, 48, 43);
}

header {
  background-color: var(--azul);
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  text-align: center;

  & .logo {
    width: 100px;
    border-radius: 100%;
    margin: 20px;
  }

  & h1 {
    width: 80%;
  }

  & h1,
  h2 {
    margin-top: 20px;
    color: white;
    font-size: 32px;
  }
}

.where-to-watch {
  text-align: center;
  background-color: orange;
  padding: 50px;

  & p {
    width: 400px;
    margin: 0 auto;
    color: rgb(1, 1, 1);
    font-size: 20px;
  }

  & ul {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    width: 40%;
    & li {
      font-size: 22px;
      padding: 10px 20px;
      border-radius: 8px;
      & a {
        color: white;
        text-decoration: none;
        letter-spacing: 1.5px;
        padding: 10px;
        display: inline;
      }
    }

    & li:nth-child(1) {
      background-color: var(--roxo);
    }

    & li:nth-child(2) {
      background-color: var(--vermelho);
    }    
  }
}

.teams-container {
  background-color: rgb(2, 115, 62);
  & h2 {
    padding: 30px 20px;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
  }
}

.container {
  display: flex;
  justify-content: space-between;
}

.teams,
.squads {
  border: 1px solid red;
  width: 48%;
}

.teams {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  & div {
    margin-bottom: 20px;
    text-align: center;
    margin: 5px;
    & img {
      width: 150px;
      height: 100px;
      object-fit: cover;
      border: 1px solid black;
    }
  }
}

.squads {
  padding: 10px;
  & .position {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.2px;
    margin-bottom: 10px;
  }

  & ul {
    & li {
      text-align: center;
    }

    & ul {
      padding: 20px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 30px;

      & li {
        margin: 10px;
      }
    }
  }
}